/* blog */

.blog {
  background: var(--background-fa);
}

.blog__container {
  display: flex;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 40px 0;
}

.blog__content-container {
  /*width: 100%;*/
  max-width: 740px;
}

.blog h1 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 175%;
  color: var(--colors-black);
}

.blog h2 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 143%;
  color: var(--colors-black);
}

.blog h3 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: var(--colors-black);
}

.blog h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: var(--colors-black);
}

.blog p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.blog p a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blog li a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blog__text strong {
  font-weight: 700;
}

.blog__mt-top {
  margin-top: 40px !important;
}

.blog figure {
  margin: 40px 0 0;
  overflow: hidden;
}

.blog figure img {
  max-width: 100%;
  border-radius: 12px;
}

.blog figcaption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: var(--colors-black);
}

.blog__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  margin-top: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blog .buttons-container a {
  width: 100%;
}

/* ul */

.blog ul {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.blog ul>* {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.blog ol>* {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.blog ul li {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.blog ul li:not(:first-child) {
  margin-top: 12px;
}

.blog ul li {
  padding-left: 14px;
}

.blog ul li::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: var(--colors-black);
}

.square ul:not(.square) li {
  padding-left: 14px !important;
}

.square ul:not(.square) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
}

.plus ul:not(.plus) li {
  padding-left: 14px !important;
}

.plus ul:not(.plus) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
  background-image: none !important;
}

.minus ul:not(.minus) li {
  padding-left: 14px !important;
}

.minus ul:not(.minus) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
  background-image: none !important;
}

ul.square li {
  padding-left: 30px;
}

ul.square li::after {
  top: 7px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

ul.minus li {
  padding-left: 40px;
}

ul.minus li::after {
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../img/minus.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.plus li {
  padding-left: 40px;
}

ul.plus li::after {
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../img/plus.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.blog ul.green li::after {
  background-color: var(--colors-green);
}

.blog ul.purple li::after {
  background-color: var(--colors-purple);
}

.blog ul.red li::after {
  background-color: var(--colors-red);
}

.blog ul li strong {
  font-weight: 700;
}

.blog ul li p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 5px 0 0;
}

/* ol */

.blog ol {
  counter-reset: myCounter;
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-left: 12px;
}

.blog ol li {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.blog ol ul {
  margin-top: 5px;
}

.blog ol ol {
  margin-top: 24px;
}

.blog ol ul li {
  padding-left: 14px;
  padding-bottom: 0 !important;
}

.blog ol ul li:not(:first-of-type) {
  margin-top: 12px;
}

.blog ol ul li::after {
  content: '' !important;
  top: 11px !important;
  left: 0 !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
}

.blog ol ul li::before {
  display: none;
}

.blog ol li:not(:last-child) {
  padding-bottom: 24px;
}

.blog ol li {
  padding-left: calc(16px + 24px/2);
}

.blog ol li::after {
  content: '';
  position: absolute;
  top: 2px;
  left: -13px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--colors-black);
  border-radius: 50%;
}

.blog ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  z-index: 2;
  left: -13px;
  top: 2px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #FFF;
}

.blog ol.purple li::after {
  background: var(--colors-purple);
}

.blog ol.red li::after {
  background: var(--colors-red);
}

.blog ol li strong {
  font-weight: 700;
}

.list-two-columns {
  column-count: 2;
  width: 100%;
}

.list-three-columns {
  column-count: 3;
  width: 100%;
}

.list-four-columns {
  column-count: 4;
  width: 100%;
}

.list-two-columns li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.list-line li {
  border-left: 2px solid var(--colors-black);
}

.purple.list-line li {
  border-left: 2px solid var(--colors-purple);
}

.red.list-line li {
  border-left: 2px solid var(--colors-red);
}

.list-line li:last-child {
  border: none;
}

.list-line li::after {
  top: 0 !important;
}

.list-line li::before {
  top: 0 !important;
}

.list-in-list ul {
  margin-top: 5px;
}

.blog__double-lists {
  display: flex;
  gap: 24px;
}

.blog__double-lists .blog__list {
  flex-basis: calc(50% - 24px/2);
  min-width: calc(50% - 24px/2);
}

@media (hover: hover) {
  .blog p a:hover {
    text-decoration: none;
  }

  .blog p a:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .blog p a:active {
    color: var(--colors-red-active);
  }
}


@media screen and (max-width: 1160px) {
  .blog__container {
    max-width: calc(100% - 40px);
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .blog__container {
    max-width: calc(100% - 40px);
    padding: 56px 0;
  }

  .blog__content-container {
    margin-right: 0px;
    max-width: none;
  }
}

@media screen and (max-width: 800px) {
  .list-three-columns {
    column-count: 1;
  }

  .list-four-columns {
    column-count: 1;
  }
}

@media screen and (max-width: 600px) {
  .blog h4 {
    font-size: 28px;
    line-height: 143%;
  }

  .list-two-columns {
    column-count: 1;
  }
}

/* sidebar */

.sidebar {
  min-width: 260px;
  line-height: 1;
  margin-left: 120px;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.sidebar__inner.stop {
  position: sticky;
  top: 16px;
}

.sidebar__links-list {
  max-width: 260px;
}

.sidebar__links-list:first-of-type {
  margin-top: 0;
}

.sidebar__links-list h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: var(--colors-black);
  margin: 0;
}

.sidebar__link {
  display: block;
  margin-top: 32px;
  cursor: pointer;
}

.sidebar__link:first-of-type {
  margin-top: 16px;
}

.sidebar__link-image-container {
  width: 260px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
}

.sidebar__link-image {
  height: 100%;
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .sidebar__link:hover .sidebar__link-image {
    transform: scale(1.1);
  }
}

.sidebar__link-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: var(--colors-red);
  margin-top: 8px;
}

.sidebar-item.fixed {
  position: fixed;
  top: 0;
  margin-top: 16px;
}

@media screen and (max-width: 1160px) {
  .sidebar {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

/* publication */

.card {
  width: 100%;
  border-radius: 12px;
  padding: 40px;
  background: var(--colors-white);
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
}

.card.blue {
  background: rgba(51, 58, 145, 0.1);
  box-shadow: none;
}

.card>*:first-child {
  margin-top: 0;
  padding-top: 0;
}

.card>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.card__date {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--colors-purple);
}

@media screen and (max-width: 600px) {
  .card {
    padding: 40px 16px;
  }
}

/* accordion-item */

.accordion-item {
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  border-radius: 12px;
  margin-top: 16px;
  overflow: hidden;
}

.accordion-head {
  padding: 24px 32px;
  /*cursor: pointer;*/
}

.accordion-item_active .accordion-head {
  padding-bottom: 16px;
}

.accordion-head-text {
  position: relative;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-purple);
  width: max-content;
  cursor: pointer;
}

.accordion-head-text::after {
  content: '';
  position: absolute;
  right: -24px;
  bottom: 50%;
  transform: translateY(50%);
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-purple.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.accordion-item_active .accordion-head-text::after {
  transform: translateY(50%) rotate(180deg);
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
}

.accordion-body-container {
  padding: 0 32px 24px;
}

.accordion-body-container>*:first-child {
  margin-top: 0;
  padding-top: 0;
}

.accordion-body-container>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.accordion-item_active .accordion-body {
  max-height: 10000px;
}

@media screen and (max-width: 600px) {
  .accordion-item {
    margin-top: 8px;
  }

  .accordion-head {
    padding-left: 16px;
    padding-right: 16px;
  }

  .accordion-body-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* blockquote */

.blog blockquote {
  position: relative;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  background-color: var(--colors-white);
  color: var(--colors-black);
  margin: 0;
  padding: 40px;
  overflow: hidden;
}

.blog blockquote>*:first-child {
  margin-top: 0;
  padding-top: 0;
}

.blog blockquote>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.blog blockquote.icon {
  padding-left: 144px;
}

.blog blockquote.icon::after {
  content: '';
  position: absolute;
  left: 40px;
  top: 40px;
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  background-image: url(../img/quote.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blog blockquote.line {
  padding-left: 64px;
}

.blog blockquote.line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24px;
  min-height: 100%;
}

.blog blockquote.gradient {
  background: linear-gradient(90deg, #333a91 0%, #df5642 100%);
}

.blog blockquote.gradient p {
  color: #FFF;
}

.blog blockquote.red {
  background: var(--colors-red);
}

.blog blockquote.red p {
  color: #FFF;
}

.blog blockquote.purple {
  background: var(--colors-purple);
}

.blog blockquote.purple p {
  color: #FFF;
}

.blog blockquote.white {
  background: var(--colors-white);
}

.blog blockquote.white.icon::after {
  background-image: url(../img/quote-red.svg);
}

.blog blockquote.line-gradient.line::after {
  background: linear-gradient(180deg, #333a91 0%, #df5642 100%);
}

.blog blockquote.white p {
  color: var(--colors-black);
}

.blog blockquote p strong {
  font-weight: 700;
}

.blog blockquote p a {
  color: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .blog blockquote {
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .blog blockquote.icon {
    padding: 24px;
    padding-top: 112px;
  }

  .blog blockquote.icon::after {
    left: 24px;
    top: 24px;
  }

  .blog blockquote.line {
    padding: 40px;
    padding-left: 64px;
  }
}

/* comparison */

.comparison__cards-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.comparison__card {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
}

.comparison__card_green {
  background-color: rgba(59, 145, 51, 0.1);
}

.comparison__card_red {
  background-color: rgba(223, 86, 66, 0.1);
}

@media screen and (max-width: 800px) {
  .comparison__cards-container {
    flex-direction: column;
  }
}