/* header & menu */

.header {
  position: relative;
  z-index: 3;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: var(--colors-black);
  padding: 25px 0;
}

.header_absolute {
  position: absolute;
  top: 25px;
  background-color: transparent;
  padding: 0;
}

.header .menu__row {
  max-width: var(--container-width);
  margin: 0 auto;
}

.menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu__row:not(:first-of-type) {
  margin-top: 24px;
}

.menu__links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link>* {
  display: flex;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--colors-white);
  text-decoration: none;
  padding-right: 28px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu__link-image {
  max-width: 24px;
}

@media (hover: hover) {
  .menu__link>*:hover {
    color: var(--colors-red);
  }

  .menu__link>*:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .menu__link>*:active {
    color: var(--colors-red-active);
  }
}

.menu__links-privates {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.menu__link-private {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--colors-white);
  border: 2px solid var(--colors-red);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu__link-private {
  margin-top: 0 !important;
  padding-left: 12px !important;
}

.menu__links-privates .menu__link-private {
  padding-left: 0 !important;
}

.menu__link-private::after {
  background-color: transparent;
}

.menu__link-private a {
  color: var(--colors-white);
  text-decoration: none;
  padding: 12px;
}

@media (hover: hover) {
  .menu__link-private:hover {
    background: var(--colors-red);
  }

  .menu__link-private:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .menu__link-private:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

.menu__dropdown-private-button {
  padding: 12px;
  padding-right: 44px;
}

.menu__dropdown-private-button.active {
  background: var(--colors-red);
}

.menu__dropdown-private-button::after {
  content: '';
  position: absolute;
  right: 18px;
  bottom: 50%;
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(50%);
  transition: all 0.2s ease-in-out;
}

.menu__dropdown-private-button.active::after {
  transform: translateY(50%) rotate(180deg);
}

.menu__dropdown-private {
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  max-width: var(--container-width);
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header_absolute .menu__dropdown-private {
  top: 100px;
}

.swipe-menu__container .menu__dropdown-private {
  position: relative;
  top: 0;
  max-height: none;
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  padding: 0;
}

.menu__dropdown-private-button.active .menu__dropdown-private {
  visibility: visible;
  opacity: 1;
}

@media (hover: hover) {
  .menu__dropdown-private-button:hover {
    background: var(--colors-red);
  }
}

.menu__dropdown-private-button:active {
  background: var(--colors-red-active);
}

.menu__dropdown-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(25% - 6px);
  min-width: calc(25% - 6px);
  flex-shrink: 1;
  height: 135px;
  border-radius: 12px;
  overflow: hidden;
  pointer-events: all;
}

.menu__dropdown-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, #000 100%);
}

.menu__dropdown-item span {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--colors-white);
  max-width: 95%;
}

a.menu__dropdown-item {
  padding: 0;
}

.menu__dropdown-image {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.menu__dropdown-item:hover .menu__dropdown-image {
  transform: scale(1.05);
}

@media screen and (max-width: 1160px) {
  .header .menu__row {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .menu__row:nth-child(2) {
    justify-content: center;
  }

  .menu__links {
    display: none;
  }

  .menu__links-privates {
    display: none;
  }

  .menu__dropdown-private-button {
    max-width: 328px;
    width: 100%;
    padding-right: 12px;
  }

  .menu__dropdown-private-button::after {
    right: 25%;
  }

  .menu__dropdown-private {
    pointer-events: all;
  }

  .menu__dropdown-image {
    width: initial;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .menu__dropdown-private {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 80vh;
    max-width: 328px;
    overflow: scroll;
  }

  .menu__dropdown-item {
    flex-basis: calc(100%);
    min-width: calc(100%);
    min-height: 135px;
    max-height: 135px;
  }

  .menu__dropdown-image {
    width: 100%;
    height: initial;
  }
}

/* burger */

.burger__icon {
  display: none;
}

.burger {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #222;
  transform: translateX(100%);
  padding: 24px 16px;
  transition: all 0.2s ease-in-out;
}

.burger_active {
  transform: translateX(0);
}

.burger__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__close {
  width: 14px;
  height: 14px;
  background-image: url(../img/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.burger .menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

.burger .menu__links-privates {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;
}

.burger .menu__link-private {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .burger__icon {
    display: block;
    width: 18px;
    height: 14px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}