.icon {
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 30px;
}

.icon-about {
	background-image: url('../img/menu/icon-about.svg');
}

.icon-blog {
	background-image: url('../img/menu/icon-blog.svg');
}

.icon-games {
	background-image: url('../img/menu/icon-games.svg');
}

.icon-contact {
	background-image: url('../img/menu/icon-contact.svg');
}

.icon-map {
	background-image: url('../img/menu/icon-map.svg');
}

.icon-help {
	background-image: url('../img/menu/icon-help.svg');
}