.os-icons {
	width: 80px;
	height: 24px;
	background-image: url(../img/os-icons.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.android-icon {
	width: 24px;
	height: 24px;
	background-image: url(../img/android.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-link-icon {
	position: relative;
	display: flex;
	align-items: center;
	height: 24px;
	width: max-content;
}

.menu-link-icon {
	margin-top: 0 !important;
	padding-left: 0 !important;
}

.menu-link-icon::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-link-icon::after {
	left: initial;
	right: 0;
	background-color: transparent;
}

.icon-games::after {
	background-image: url(../img/games.svg);
}

.icon-blog::after {
	background-image: url(../img/blog.svg);
}

.icon-help::after {
	background-image: url(../img/help.svg);
}

.icon-about::after {
	background-image: url(../img/about.svg);
}

.icon-map::after {
	background-image: url(../img/map.svg);
}

.icon-contact::after {
	background-image: url(../img/contact.svg);
}

.icon-download::after {
	background-image: url(../img/download.svg);
}

.active.icon-download::after {
	background-image: url(../img/download-active.svg);
}

.icon-bonus::after {
	background-image: url(../img/bonus.svg);
}

.active.icon-bonus::after {
	background-image: url(../img/bonus-active.svg);
}

.icon-box::after {
	background-image: url(../img/box.svg);
}

.active.icon-box::after {
	background-image: url(../img/box-active.svg);
}