/* imports */

@import url(./fonts.css);
@import url(./normalize.css);

@import url(./ui.css);
@import url(./header.css);
@import url(./main-page.css);
@import url(./blog.css);
@import url(./footer.css);
@import url(./swipe-menu.css);

body {
  --container-width: 1120px;
  --colors-white: #fff;
  --colors-black: #222;
  --colors-purple: #333a91;
  --colors-red: #df5642;
  --colors-red-active: #9a1d1e;
  --colors-line: #e8e8e8;
  --background-fa: #fafafa;

  background: var(--background-fa);
}