/* imports */

@import url(./fonts.css);
@import url(./normalize.css);

@import url(./ui.css);
@import url(./header.css);
@import url(./main-page.css);
@import url(./blog.css);
@import url(./footer.css);
@import url(./swipe-menu.css);
@import url(./modals.css);

@import url(./gallery.css);
@import url(./icons.css);

body {
  background-color: var(--background-fa);
  --container-width: 1120px;
  --blog-paddings: 40px 0;
  --colors-white: #fff;
  --colors-black: #222;
  --colors-purple: #333a91;
  --colors-red: #df5642;
  --colors-red-active: #9a1d1e;
  --colors-line: #e8e8e8;
  --background-fa: #fafafa;
  --colors-green: #3b9133;
}