/* imports */

@import url(./fonts.css);
@import url(./normalize.css);

body {
  --container-width: 1120px;
  --colors-white: #fff;
  --colors-black: #222;
  --colors-purple: #333a91;
  --colors-red: #df5642;
  --colors-red-active: #9a1d1e;
  --colors-line: #e8e8e8;
  --background-fa: #fafafa;
}

/* UI */

.logo {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--colors-white);
  cursor: pointer;
}

.overlay {
  position: fixed;
  z-index: 10;
  left: 0%;
  top: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.overlay_private {
  left: -50%;
  top: -50%;
  width: 10000%;
  height: 10000%;
}

.overlay_active {
  display: block;
}

.title-container {
  margin-bottom: 48px;
}

.title-container h2 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 175%;
  color: var(--colors-black);
  color: #000;
  margin: 0;
}

.title-container_white h2 {
  color: var(--colors-white);
}

@media screen and (max-width: 1024px) {
  .overlay_private {
    pointer-events: all;
  }
}

@media screen and (max-width: 600px) {
  .title-container {
    margin-bottom: 32px;
  }

  .title-container h2 {
    font-size: 28px;
    line-height: 143%;
  }
}

.red-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--colors-white);
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-red);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 24px 48px;
}

@media (hover: hover) {
  .red-button:hover {
    background: var(--colors-purple);
  }

  .red-button:active {
    background: var(--colors-red-active);
  }
}

@media (hover: none) {
  .red-button:active {
    background: var(--colors-red-active);
  }
}

.red-contour-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--colors-red);
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: transparent;
  border: 2px solid var(--colors-red);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 16px 48px;
}

@media (hover: hover) {
  .red-contour-button:hover {
    background: var(--colors-red);
    color: var(--colors-white);
  }

  .red-contour-button:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .red-contour-button:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

.slider-btn {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 100%;
  background: var(--colors-black);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .slider-btn:hover {
    background: var(--colors-red);
  }

  .slider-btn:active {
    background: var(--colors-red-active);
  }
}

@media (hover: none) {
  .slider-btn:active {
    background: var(--colors-red-active);
  }
}

.slider-btn::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 22px;
  height: 14px;
  background-image: url(../img/arrow-right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.slider-btn-next {
  transform: translateY(-50%) rotate(-90deg);
}

.slider-btn-prev {
  transform: translateY(-50%) rotate(90deg);
}

.download-button {
  gap: 8px;
}

.download-button-icons {
  max-width: 80px;
}

.buttons-container {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

@media screen and (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }
}

.mt-none {
  margin-top: 0 !important;
}

/* header & menu */

.header {
  position: absolute;
  z-index: 3;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--container-width);
  width: 100%;
}

.menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu__row:not(:first-of-type) {
  margin-top: 24px;
}

.menu__links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--colors-white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu__link-image {
  max-width: 24px;
}

@media (hover: hover) {
  .menu__link:hover {
    color: var(--colors-red);
  }

  .menu__link:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .menu__link:active {
    color: var(--colors-red-active);
  }
}

.menu__links-privates {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu__link-private {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--colors-white);
  border: 2px solid var(--colors-red);
  border-radius: 8px;
  padding: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .menu__link-private:hover {
    background: var(--colors-red);
  }

  .menu__link-private:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .menu__link-private:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

.menu__dropdown-private-button {
  padding-right: 44px;
}

.menu__dropdown-private-button.active {
  background: var(--colors-red);
}

.menu__dropdown-private-button::after {
  content: '';
  position: absolute;
  right: 18px;
  bottom: 50%;
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(50%);
  transition: all 0.2s ease-in-out;
}

.menu__dropdown-private-button.active::after {
  transform: translateY(50%) rotate(180deg);
}

.menu__dropdown-private {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* зона клика */
.menu__dropdown-private::after {
  content: '';
  position: absolute;
  right: 0;
  top: -10px;
  width: 165px;
  height: 10px;
}

.menu__dropdown-private-button.active .menu__dropdown-private {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media (hover: hover) {
  .menu__dropdown-private-button:hover {
    background: var(--colors-red);
  }

  .menu__dropdown-private-button:hover::after {
    transform: translateY(50%) rotate(180deg);
  }

  .menu__dropdown-private-button:hover .menu__dropdown-private {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.menu__dropdown-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(25% - 6px);
  min-width: calc(25% - 6px);
  flex-shrink: 1;
  height: 135px;
  border-radius: 12px;
  overflow: hidden;
}

.menu__dropdown-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, #000 100%);
}

.menu__dropdown-item span {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--colors-white);
  max-width: 95%;
}

.menu__dropdown-image {
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.menu__dropdown-item:hover .menu__dropdown-image {
  transform: scale(1.05);
}

@media screen and (max-width: 1160px) {
  .header {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .menu__row:nth-child(2) {
    justify-content: center;
  }

  .menu__links {
    display: none;
  }

  .menu__links-privates {
    display: none;
  }

  .menu__dropdown-private-button {
    max-width: 328px;
    width: 100%;
    padding-right: 12px;
  }

  .menu__dropdown-private-button::after {
    right: 25%;
  }

  .menu__dropdown-private {
    pointer-events: all;
  }
}

@media screen and (max-width: 600px) {
  .menu__dropdown-private {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 80vh;
    max-width: 328px;
    overflow: scroll;
  }

  .menu__dropdown-item {
    flex-basis: calc(100%);
    min-width: calc(100%);
    min-height: 135px;
    max-height: 135px;
  }

  .menu__dropdown-image {
    width: 100%;
    height: initial;
  }
}

/* burger */

.burger__icon {
  display: none;
}

.burger {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #222;
  transform: translateX(100%);
  padding: 24px 16px;
  transition: all 0.2s ease-in-out;
}

.burger_active {
  transform: translateX(0);
}

.burger__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__close {
  width: 14px;
  height: 14px;
  background-image: url(../img/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.burger .menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

.burger .menu__links-privates {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;
}

.burger .menu__link-private {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .burger__icon {
    display: block;
    width: 18px;
    height: 14px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* stb */

.stb {
  position: relative;
  background-image: url(../img/stb.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stb::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 14%, rgba(0, 0, 0, 0.2) 37.5%, rgba(0, 0, 0, 0.1) 49.5%, rgba(0, 0, 0, 0.2) 74.5%);
}

.stb__container {
  position: relative;
  z-index: 2;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 195px 0 100px;
}

.stb__game-icon {
  max-width: 120px;
}

.stb h1 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  color: var(--colors-white);
  max-width: 360px;
  margin: 12px 0 0;
}

.stb__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-white);
  max-width: 300px;
  margin: 12px 0 0;
}

.stb__button {
  gap: 8px;
  width: max-content;
  margin-top: 40px;
}

@media screen and (max-width: 1160px) {
  .stb__container {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .stb {
    background-position: right center;
  }
}

@media screen and (max-width: 500px) {
  .stb {
    background-position: right -150px center;
  }

  .stb__button {
    position: relative;
    max-width: 328px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* privates-cards */

.privates-cards {
  background: var(--background-fa);
}

.privates-cards__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 80px 0;
}

.privates-cards__content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.private-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 18px);
  min-width: calc(25% - 18px);
  flex-shrink: 1;
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

@media (hover: hover) {
  .private-card:hover {
    transform: translateY(-10px);
  }
}

@media (hover: none) {
  .private-card:active {
    transform: translateY(-10px);
  }
}

.private-card__image-container {
  height: 186px;
}

.private-card__image {
  height: 100%;
}

.private-card__text-container {
  background: var(--colors-white);
  padding: 16px;
}

.private-card__name {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: normal;
  color: var(--colors-black);
}

.private-card__time-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.private-card__time {
  width: 20px;
  height: 20px;
  background-image: url(../img/time.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.private-card__time-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: var(--colors-black);
}

.private-card__version-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--colors-line);
  width: max-content;
  padding: 6px 12px;
  margin-top: 16px;
}

.private-card__version {
  width: 24px;
  height: 24px;
  background-image: url(../img/version.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.private-card__version-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: var(--colors-purple);
}

@media screen and (max-width: 1160px) {
  .privates-cards__container {
    max-width: calc(100% - 40px);
    padding: 56px 0;
  }
}

@media screen and (max-width: 1024px) {
  .privates-cards__container {
    max-width: calc(100% - 40px);
  }

  .private-card {
    flex-basis: calc(50% - 12px);
    min-width: calc(50% - 12px);
  }

  .private-card__image {
    width: 100%;
    height: initial;
  }
}

@media screen and (max-width: 830px) {
  .private-card__image {
    width: initial;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .private-card {
    flex-basis: 100%;
    min-width: 100%;
  }

  .private-card__image {
    width: 100%;
    height: initial;
  }
}

@media screen and (max-width: 400px) {
  .private-card__image {
    width: initial;
    height: 100%;
  }
}

/* news-cards */

.news-cards {
  background-color: var(--colors-black);
  background-image: url(../img/news-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news-cards__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 80px 0;
}

.news-cards__content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news-card {
  display: flex;
  gap: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  padding: 32px;
}

.news-card__image-container {
  position: relative;
  min-width: 400px;
  max-width: 400px;
  min-height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.news-card__image-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 50.32%, #000 100%);
}

.news-card__image {
  height: 100%;
}

.news-card__date {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 16px;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-white);
}

.news-card__name {
  position: absolute;
  z-index: 2;
  left: 24px;
  bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--colors-purple);
  border-radius: 4px;
  background: var(--colors-line);
  padding: 9px 12px;
}

.news-card__text-container h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: var(--colors-black);
  margin: 0;
}

.news-card__text-container p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 12px 0 0;
}

.news-card__list-container {
  margin-top: 24px;
}

.news-card__list-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.news-card__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style-type: none;
  margin: 16px 0 0;
  padding: 0;
}

.news-card__list li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.news-card__button {
  max-width: 320px;
  padding-right: 80px;
  margin-top: 24px;
}

.news-card__button::after {
  content: '';
  position: absolute;
  right: 54px;
  bottom: 50%;
  transform: translateY(50%);
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-red.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.news-card__button::before {
  content: '';
  position: absolute;
  right: 54px;
  bottom: 50%;
  transform: translateY(50%);
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.news-card__button:hover::after {
  transform: translateY(50%) rotate(180deg);
  opacity: 0;
}

.news-card__button:active::after {
  transform: translateY(50%) rotate(180deg);
  opacity: 0;
}

.news-card__button:hover::before {
  transform: translateY(50%) rotate(180deg);
  opacity: 1;
}

.news-card__button:active::before {
  transform: translateY(50%) rotate(180deg);
  opacity: 1;
}

.news-cards__button {
  width: 100%;
}

@media screen and (max-width: 1160px) {
  .news-cards__container {
    max-width: calc(100% - 40px);
    padding: 56px 0;
  }
}

@media screen and (max-width: 1024px) {
  .news-card {
    gap: 30px;
    padding: 20px;
  }

  .news-card__image-container {
    min-width: 328px;
    max-width: none;
    min-height: 0;
    height: 198px;
  }

  .news-card__button {
    padding-left: 32px;
    padding-right: 32px;
  }

  .news-card__button::after {
    display: none;
  }

  .news-card__button::before {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .news-cards {
    background: var(--colors-black);
  }

  .news-card {
    flex-direction: column;
    background: transparent;
    gap: 0;
    padding: 0;
    overflow: hidden;
  }

  .news-card__image {
    height: initial;
    width: 100%;
  }

  .news-card__text-container {
    background: var(--colors-white);
    padding: 24px;
  }

  .news-card__button {
    margin: 24px auto 0;
  }
}

@media screen and (max-width: 430px) {
  .news-card__image {
    height: 100%;
    width: initial;
  }
}

/* blog */

.blog {
  background: var(--background-fa);
}

.blog__container {
  display: flex;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 80px 0;
}

.blog__content-container {
  width: 100%;
}

.blog h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 175%;
  color: var(--colors-black);
  margin: 40px 0 0;
}

.blog__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 16px 0 0;
}

.blog__text p {
  margin-top: 0;
}

.blog__text strong {
  font-weight: 700;
}

.blog__mt-top {
  margin-top: 40px !important;
}

.blog__image-container {
  position: relative;
}

.blog__image-container.inside::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50.32%, #000 100%);
  pointer-events: none;
}

.blog__image {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.outside .blog__image-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: var(--colors-black);
  opacity: 0.54;
  margin-top: 8px;
}

.inside .blog__image-name {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--colors-white);
  max-width: calc(100% - 32px);
  width: 100%;
}

.blog__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  margin-top: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blog .buttons-container a {
  width: 100%;
}

.blog__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog__list li {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

.blog__list_purple-square li {
  padding-left: 30px;
}

.blog__list_purple-square li::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background: var(--colors-purple);
}

.blog__list_plus li {
  padding-left: 40px;
}

.blog__list_plus li::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-image: url(../img/plus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blog__list_minus li {
  padding-left: 40px;
}

.blog__list_minus li::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-image: url(../img/minus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blog__list li strong {
  font-weight: 700;
}

.blog__list li p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 4px 0 0;
}

.blog__double-lists {
  display: flex;
  gap: 24px;
}

.blog__double-lists .blog__list {
  flex-basis: calc(50% - 24px/2);
  min-width: calc(50% - 24px/2);
}

@media (hover: hover) {
  .blog__link:hover {
    text-decoration: none;
  }

  .blog__link:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .blog__link:active {
    color: var(--colors-red-active);
  }
}


@media screen and (max-width: 1160px) {
  .blog__container {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .blog__container {
    max-width: calc(100% - 40px);
    padding: 56px 0;
  }

  .blog__content-container {
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .blog h4 {
    font-size: 28px;
    line-height: 143%;
  }
}

/* sidebar */

.sidebar {
  min-width: 260px;
  line-height: 1;
  margin-left: 120px;
}

.sidebar__inner.stop {
  position: sticky;
  top: 16px;
}

.sidebar__links-list {
  max-width: 260px;
  margin-top: 64px;
}

.sidebar__links-list:first-of-type {
  margin-top: 0;
}

.sidebar__links-list h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: var(--colors-black);
  margin: 0;
}

.sidebar__link {
  display: block;
  margin-top: 32px;
  cursor: pointer;
}

.sidebar__link:first-of-type {
  margin-top: 16px;
}

.sidebar__link-image-container {
  width: 260px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
}

.sidebar__link-image {
  height: 100%;
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .sidebar__link:hover .sidebar__link-image {
    transform: scale(1.1);
  }
}

.sidebar__link-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: var(--colors-red);
  margin-top: 8px;
}

.sidebar-item.fixed {
  position: fixed;
  top: 0;
  margin-top: 16px;
}

@media screen and (max-width: 1160px) {
  .sidebar {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

/* private */

.private-servers {
  width: 100%;
}

.private-servers__content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.private-servers__card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 24px/2);
  min-width: calc(50% - 24px/2);
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .private-servers__card:hover {
    transform: translateY(-10px);
  }
}

@media (hover: none) {
  .private-servers__card:active {
    transform: translateY(-10px);
  }
}

.private-servers__card-image-container {
  width: 100%;
  height: 186px;
  overflow: hidden;
}

.private-servers__card-image {
  height: 100%;
}

.private-servers__card-text-container {
  background: var(--colors-white);
  padding: 24px;
}

.private-servers__card-name {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: var(--colors-black);
  margin: 0;
}

.private-servers__card p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--colors-black);
  margin: 12px 0 0;
}

.private-servers__button {
  width: 100%;
  margin-top: 16px;
}

@media screen and (max-width: 1024px) {
  .private-servers__card-image {
    height: initial;
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .private-servers__card-image {
    height: 100%;
    width: initial;
  }
}

@media screen and (max-width: 600px) {
  .private-servers__card {
    flex-basis: 100%;
    min-width: 100%;
  }

  .private-servers__card-image {
    height: initial;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .private-servers__card-image {
    height: 100%;
    width: initial;
  }
}

/* publication */

.publication__container {
  width: 100%;
  border-radius: 12px;
  background: rgba(51, 58, 145, 0.1);
  padding: 40px;
}

.publication__date {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--colors-purple);
}

.publication p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 6px 0 0;
}

@media screen and (max-width: 600px) {
  .publication__container {
    padding: 40px 16px;
  }
}

/* accordion-item */

.accordion-item {
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-white);
  border-radius: 12px;
  margin-top: 16px;
  overflow: hidden;
}

.accordion-head {
  padding: 24px 32px;
  cursor: pointer;
}

.accordion-item_active .accordion-head {
  padding-bottom: 16px;
}

.accordion-head-text {
  position: relative;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-purple);
  width: max-content;
}

.accordion-head-text::after {
  content: '';
  position: absolute;
  right: -24px;
  bottom: 50%;
  transform: translateY(50%);
  width: 14px;
  height: 8px;
  background-image: url(../img/arrow-purple.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.accordion-item_active .accordion-head-text::after {
  transform: translateY(50%) rotate(180deg);
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
}

.accordion-body-container {
  padding: 0 32px 24px;
}

.accordion-item_active .accordion-body {
  max-height: 10000px;
}

@media screen and (max-width: 600px) {
  .accordion-item {
    margin-top: 8px;
  }

  .accordion-head {
    padding-left: 16px;
    padding-right: 16px;
  }

  .accordion-body-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* contents-list */

.contents-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

.contents-list li {
  font-family: "Inter", sans-serif;
}

.contents-list a {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .contents-list a:hover {
    text-decoration: none;
  }

  .contents-list a:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .contents-list a:active {
    color: var(--colors-red-active);
  }
}

/* quote */

.quote blockquote {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(28, 41, 61, 0.06), 0 0 16px 0 rgba(28, 41, 61, 0.05);
  margin: 0;
  padding: 40px;
  overflow: hidden;
}

.quote_line blockquote {
  padding-left: 64px;
}

.quote_gradient blockquote {
  background: linear-gradient(90deg, #333a91 0%, #df5642 100%);
}

.quote_red blockquote {
  background: var(--colors-red);
}

.quote_purple blockquote {
  background: var(--colors-purple);
}

.quote_white blockquote {
  background: var(--colors-white);
}

.quote__icon {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  background-image: url(../img/quote.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.quote_white .quote__icon {
  background-image: url(../img/quote-red.svg);
}

.quote__line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24px;
  min-height: 100%;
}

.quote_line-gradient .quote__line {
  background: linear-gradient(180deg, #333a91 0%, #df5642 100%);
}

.quote p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-white);
  margin: 0;
}

.quote_white p {
  color: var(--colors-black);
}

.quote p strong {
  font-weight: 700;
}

.quote .blog__link {
  color: var(--colors-white);
}

.quote_white .blog__link {
  color: var(--colors-red);
}


.quote .blog__link:active {
  color: var(--colors-red-active);
}

@media screen and (max-width: 600px) {
  .quote blockquote {
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .quote_line blockquote {
    padding: 40px;
    padding-left: 64px;
  }

  .quote .blog__link {
    margin-top: 24px;
  }
}

/* footer */

.footer {
  background: var(--colors-black);
  padding: 48px 0;
}

.footer__container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  gap: 48px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--colors-red);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .footer__link:hover {
    color: var(--colors-white);
  }

  .footer__link:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .footer__link:active {
    color: var(--colors-red-active);
  }
}

.footer__link-image {
  max-width: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  max-width: 262px;
  margin: 48px 0 0;
  padding: 0;
}

.footer__list-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--colors-white);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .footer__list-link:hover {
    color: var(--colors-red);
  }

  .footer__list-link:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .footer__list-link:active {
    color: var(--colors-red);
  }
}

.footer__social-container {
  margin-top: 48px;
}

.footer__social-container {
  display: flex;
  gap: 8px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .footer__social:hover {
    background: var(--colors-white);
  }

  .footer__social:active {
    background: var(--background-fa);
  }
}

@media (hover: none) {
  .footer__social:active {
    background: var(--background-fa);
  }
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--colors-white);
  opacity: 0.5;
  margin-top: 48px;
}

@media screen and (max-width: 1160px) {
  .footer__container {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .footer__row {
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }

  .footer__list {
    max-width: none;
    margin-top: 16px;
  }

  .footer__list:first-of-type {
    margin-top: 48px;
  }
}