.mobile-menu {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  border-radius: 16px 16px 0 0;
  background-color: #222;
  box-sizing: border-box;
  filter: drop-shadow(0px -12px 30px rgba(102, 102, 102, 0.1));
  transition: transform 0.4s ease-in-out;
}

.mobile-menu-main-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  background: var(--colors-red);
  border-radius: 50%;
}

.mobile-menu-button {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  color: var(--colors-white);
  padding-top: 24px;
}

.active.mobile-menu-button {
  color: var(--colors-red);
}

.mobile-menu-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* <!-- burger --> */

.burger-icon {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 24px;
  height: 14px;
}

.burger-icon span,
.burger-icon span:before,
.burger-icon span:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #FFF;
  display: block;
  transition: .2s;
  border-radius: 5px;
}

.burger-icon span:before {
  content: "";
  top: -7px;
  transition: top 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-icon span {
  top: 6px;
}

.burger-icon span:after {
  content: "";
  bottom: -7px;
  transition: bottom 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.active .burger-icon span:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active .burger-icon span:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active .burger-icon span {
  background: rgba(255, 255, 255, 0);
}

/* <-- burger --> */

.swipe-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 11;
  display: none;
  width: 100%;
  height: 95%;
  background: #222;
  transform: translateY(150%);
  border-radius: 15px 15px 0px 0px;
  padding-top: 24px;
  /*transition: all 0.3s ease;*/
}

.swipe-menu.--active {
  transform: translateY(0);
}

.swipe-menu__scroll-item {
  position: absolute;
  left: 0;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swipe-menu__scroll-dot {
  width: 56px;
  height: 2px;
  border-radius: 2px;
  background: #5d5d5d;
}

.swipe-menu__container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
  padding: 0 17px 88px;
}

.swipe-menu__block {
  width: 80%;
  min-height: 100px;
  background-color: red;
  margin: 0 auto;
}

.overlay_swipe-menu {
  pointer-events: all;
}

.swipe-menu__section-container {
  display: none;
}

.swipe-menu__section-container>*:first-child {
  margin-top: 0;
  padding-top: 0;
}

.swipe-menu__section-container>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.swipe-menu__section-container.active {
  display: block;
}

.swipe-menu__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 9px 0 0;
}

.swipe-menu__link>* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--colors-white);
}

.swipe-menu .accordion-item {
  background-color: transparent;
  margin-top: 4px;
}

.swipe-menu .accordion-head {
  padding-top: 9px;
  padding-bottom: 9px;
}

.swipe-menu .accordion-head-text {
  width: 100%;
  color: var(--colors-red);
}

.swipe-menu .accordion-head-text::after {
  right: 0;
  background-image: url(../img/arrow-red.svg);
}

.swipe-menu .accordion-body-container {
  padding-bottom: 9px;
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
  }

  .swipe-menu {
    display: block;
  }

  .swipe-menu .menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .swipe-menu .menu__links-privates {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
  }

  .swipe-menu .menu__link-private {
    width: 100%;
  }
}