/* UI */

.dis-none {
  display: none !important;
}

.logo {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--colors-white);
  cursor: pointer;
}

.overlay {
  position: fixed;
  z-index: 10;
  left: 0%;
  top: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.overlay_private {
  left: -50%;
  top: -50%;
  width: 10000%;
  height: 10000%;
  pointer-events: all;
}

.overlay_active {
  display: block;
}

.title-container {
  margin-bottom: 48px;
}

.title-container h2 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 175%;
  color: var(--colors-black);
  color: #000;
  margin: 0;
}

.title-container_white h2 {
  color: var(--colors-white);
}

@media screen and (max-width: 600px) {
  .title-container {
    margin-bottom: 32px;
  }

  .title-container h2 {
    font-size: 28px;
    line-height: 143%;
  }
}

.red-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--colors-white);
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: var(--colors-red);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 24px 48px;
}

@media (hover: hover) {
  .red-button:hover {
    background: var(--colors-purple);
  }

  .red-button:active {
    background: var(--colors-red-active);
  }
}

@media (hover: none) {
  .red-button:active {
    background: var(--colors-red-active);
  }
}

.red-contour-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--colors-red);
  box-shadow: 0 5px 12px 0 rgba(28, 41, 61, 0.06), 0 1px 32px 0 rgba(28, 41, 61, 0.05);
  background: transparent;
  border: 2px solid var(--colors-red);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 16px 48px;
}

@media (hover: hover) {
  .red-contour-button:hover {
    background: var(--colors-red);
    color: var(--colors-white);
  }

  .red-contour-button:active {
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

@media (hover: none) {
  .red-contour-button:active {
    color: var(--colors-white);
    background: var(--colors-red-active);
    border-color: var(--colors-red-active);
  }
}

.slider-btn {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top: 50%;
  border: none;
  border-radius: 100%;
  background: var(--colors-black);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .slider-btn:hover {
    background: var(--colors-red);
  }

  .slider-btn:active {
    background: var(--colors-red-active);
  }
}

@media (hover: none) {
  .slider-btn:active {
    background: var(--colors-red-active);
  }
}

.slider-btn::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 22px;
  height: 14px;
  background-image: url(../img/arrow-right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.slider-btn-prev {
  transform: rotate(180deg);
}

.download-button {
  gap: 8px;
}

.blog .download-button {
  margin-top: 24px;
}

.buttons-container .download-button {
  margin-top: 0;
}

.download-text-with-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.download-text-info {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: initial;
}

.buttons-container {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

@media screen and (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }
}

.mt-none {
  margin-top: 0 !important;
}

[data-rows] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  [data-rows] {
    -webkit-line-clamp: initial !important;
  }
}

.more-content {
  position: relative;
  overflow: hidden;
}

.pt-none {
  padding-top: 0 !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.protect-margin>*:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.protect-margin>*:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  overflow: auto;
}

.breadcrumbs__item {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #4D525F;
  white-space: nowrap;
  padding-right: 28px;
}

.breadcrumbs__item a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.breadcrumbs__item span {
  cursor: default;
}

@media (hover: hover) {
  a.breadcrumbs__item:hover {
    color: var(--colors-black);
  }
}

@media (hover: none) {
  a.breadcrumbs__item:active {
    color: var(--colors-black);
  }
}

.breadcrumbs__item::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 18px;
  background-image: url(../img/arrow-breadcrumbs.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

/* ul */

ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0;
}

ul>* {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

ol>* {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

ul li {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  padding-left: 14px;
}

ul li:not(:first-child) {
  margin-top: 12px;
}

ul li::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  /*background-color: var(--colors-black);*/
  background-color: var(--colors-purple);
}

.square ul:not(.square) li {
  padding-left: 14px !important;
}

.square ul:not(.square) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
}

.plus ul:not(.plus) li {
  padding-left: 14px !important;
}

.plus ul:not(.plus) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
  background-image: none !important;
}

.minus ul:not(.minus) li {
  padding-left: 14px !important;
}

.minus ul:not(.minus) li::after {
  top: 11px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
  background-image: none !important;
}

ul.square li {
  padding-left: 30px;
}

ul.square li::after {
  top: 7px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

ul.minus li {
  padding-left: 40px;
}

ul.minus li::after {
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../img/minus.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.plus li {
  padding-left: 40px;
}

ul.plus li::after {
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../img/plus.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.green li::after {
  background-color: var(--colors-green);
}

ul.purple li::after {
  background-color: var(--colors-purple);
}

ul.red li::after {
  background-color: var(--colors-red);
}

ul li strong {
  font-weight: 700;
}

ul.black li::after {
  background-color: var(--colors-black);
}

ul li p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
  margin: 5px 0 0;
}

/* ol */

ol {
  counter-reset: myCounter;
  list-style-type: none;
  padding: 0;
  padding-left: 12px;
  margin: 24px 0;
}

ol li {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

ol ul {
  margin-top: 5px;
}

ol ol {
  margin-top: 24px;
}

ol ul li {
  padding-left: 14px;
  padding-bottom: 0 !important;
}

ol ul li:not(:first-of-type) {
  margin-top: 12px;
}

ol ul li::after {
  content: '' !important;
  top: 11px !important;
  left: 0 !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 4px !important;
}

ol ul li::before {
  display: none;
}

ol li:not(:last-child) {
  padding-bottom: 24px;
}

ol li {
  padding-left: calc(16px + 24px/2);
}

ol li::after {
  content: '';
  position: absolute;
  top: 2px;
  left: -13px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--colors-black);
  border-radius: 50%;
}

ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  z-index: 2;
  left: -13px;
  top: 2px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #FFF;
}

ol.purple li::after {
  background: var(--colors-purple);
}

ol.red li::after {
  background: var(--colors-red);
}

ol li strong {
  font-weight: 700;
}

.list-two-columns {
  column-count: 2;
  width: 100%;
}

.list-three-columns {
  column-count: 3;
  width: 100%;
}

.list-four-columns {
  column-count: 4;
  width: 100%;
}

.list-two-columns li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.list-line li {
  border-left: 2px solid var(--colors-black);
}

.purple.list-line li {
  border-left: 2px solid var(--colors-purple);
}

.red.list-line li {
  border-left: 2px solid var(--colors-red);
}

.list-line li:last-child {
  border: none;
}

.list-line li::after {
  top: 0 !important;
}

.list-line li::before {
  top: 0 !important;
}

.list-in-list ul {
  margin-top: 5px;
}

h1 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 175%;
  color: var(--colors-black);
  margin: 24px 0;
}

h2 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 143%;
  color: var(--colors-black);
  margin: 24px 0;
}

h3 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: var(--colors-black);
  margin: 24px 0;
}

h4 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: var(--colors-black);
  margin: 24px 0;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-black);
}

p.small {
  font-size: 16px;
  line-height: 140%;
}

p a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

li a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colors-purple);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  p a:hover {
    text-decoration: none;
  }

  p a:active {
    color: var(--colors-red-active);
  }
}

@media (hover: none) {
  p a:active {
    color: var(--colors-red-active);
  }
}

@media screen and (max-width: 800px) {
  .list-three-columns {
    column-count: 1;
  }

  .list-four-columns {
    column-count: 1;
  }
}

@media screen and (max-width: 600px) {
  h4 {
    font-size: 22px;
    line-height: 143%;
  }

  .list-two-columns {
    column-count: 1;
  }
}

/* colors */

p.purple {
  color: var(--colors-purple);
}

p.red {
  color: var(--colors-red);
}

p.green {
  color: var(--colors-green);
}